@import './sass/variables';

.home-wrap {
  .map {
    align-items: stretch;
    display: none;
    height: 100vh;
    width: 100%;

    & > * {
      flex-grow: 1;
    }

    @media screen and (min-width: $desktop-width) {
      display: flex;
    }
  }

  .sidebar {
    font-size: 20px;
    padding: 15px;

    @media screen and (min-width: $desktop-width) {
      background-color: #fff;
      box-shadow: 0 0 3px rgb(0 0 0 / 40%);
      min-width: 440px;
      position: relative;
      z-index: 1000;
    }

    .logo {
      height: auto;
      margin-right: 20px;
      width: 100px;
    }

    .header {
      align-items: center;
      display: flex;
      font-size: 20px;
      flex-direction: row;
      font-weight: 500;
      justify-content: center;
      margin-bottom: 30px;
      position: relative;

      @media screen and (min-width: $desktop-width) {
        margin-top: 20px;
      }

      .lang {
        background-color: transparent;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 15px;
        left: 10px;
        padding: 3px;
        position: absolute;
        top: 0px;
      }
    }

    .ikemka {
      align-self: flex-end;
      height: auto;
      width: 50px;
    }

    .form-line {
      display: flex;
      margin-bottom: 20px;
    }

    label {
      display: inline-block;
      padding: 10px;
      width: 6em;
    }

    input {
      border: 1px solid lightgrey;
      border-radius: 6px;
      font-size: 15px;
      padding: 10px;
      width: 100%;
    }

    button,
    input[type=submit] {
      background-color: transparent;
      border: 1px solid #e2001a;
      border-radius: 6px;
      cursor: pointer;
      font-size: 18px;
      margin-bottom: 20px;
      max-width: 420px;
      padding: 15px;
      transition: all 0.3s;
      width: 100%;

      &:hover,
      &.active {
        background-color: #e2001a;
        color: white;
      }
    }

    .button-box {
      text-align: center;

      button {
        background-position: 15% 50%;
        background-repeat: no-repeat;
        background-size: 22px auto;
        width: 100%;

        &.voiced {
          background-image: url(../public/images/icons/blind.png);
          background-position: 21% 50%;

          @media (min-width:800px) and (max-width: ($desktop-width - 1)) {
            margin-right: 20px;
          }

          &:hover,
          &.active {
            background-image: url(../public/images/icons/blind_white.png);
          }
        }

        &.for-wheelchair {
          background-image: url(../public/images/icons/handicap.png);

          &:hover,
          &.active {
            background-image: url(../public/images/icons/handicap_white.png);
          }
        }

        @media (min-width:800px) and (max-width: ($desktop-width - 1)) {
          min-width: 400px;
        }
      }
    }

    .for-buttons {
      @media (min-width:880px) and (max-width: ($desktop-width - 1)) {
        display: flex;
      }
    }

    .image-wrap {
      text-align: center;

      .whole-building {
        max-width: 400px;
        padding-top: 20px;
        width: 100%;

        @media (min-width: $desktop-width) {
          height: 370px;
          padding-top: 40px;
          width: auto;
        }
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
  }
}
